@font-face {
    font-family: 'lobster_twoitalic';
    src: url('fonts/lobstertwo-italic-webfont.woff2') format('woff2'),
         url('fonts/lobstertwo-italic-webfont.woff') format('woff'),
		 url('fonts/LobsterTwo-Italic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
html {
    text-align:center;
    background-image:url("Images/background.jpeg");
    background-size:100% 100%;
}
.lobster {
    font-family:lobster_twoitalic,monospace;
    font-size:30px;
}
#click {
    width:80px;
}
.generator {
    width:100px;
}
.footer {
    font-size:12px;
}
.title {
    text-align:center;
    font-family:lobster_twoitalic,monospace;
    font-size:40px;
    color:red;
}
.smallGen {
    width:15px;
}
.medGen {
    width:20px;
}
.lrgGen {
    width:25px;
}
.green-box {
    background-color:green;
    width:350px;
    margin:auto;
}
.orange-box {
    background-color:orange;
    width:350px;
    margin:auto;
}
.red-box {
    background-color:red;
    width:350px;
    margin:auto;
}
.upgrade-button {
    width:100px;
}
